@using GlobalResources;
@using Microsoft.Azure.IoTSuite.Connectedfactory.WebApp.Models

@model OpcSessionModel

<div class="container-fluid browser_connect_container">
    <div class="row browser_connect_header">
        <div class="browser_connect_header_text overflow">@Strings.AddGatewayTitle</div>
    </div>
    <div class="row browser_top_container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="add_gateway_instruction_textbox">
                <div class="addGateway_instruction_body">
                    <p>@Html.Raw(Strings.AddGatewayBodyPoint1)</p>
                 </div>    
            </div>
        </div>
        <div id="browserImage" class="browser_image_container  col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img class="img-responsive" src="~/Content/img/packing_station.png" />
        </div>
    </div>
</div>

<script>
    var title = "@Strings.TitleAddGateway";
</script>