<Environment version="1.0">
  <!-- General Settings -->
  <setting name="AzureLocation" value="" />
  <setting name="SubscriptionId" value="" />
  <setting name="ServiceStoreAccountName" value="" />
  <setting name="SolutionStorageAccountConnectionString" value="" />
  <setting name="AzureAccountName" value="" />
  <!-- IotHub section -->
  <setting name="IotHubOwnerConnectionString" value="" />
  <!-- RDX section -->  
  <setting name="RdxAuthenticationClientSecret" value=""/>
  <setting name="RdxDnsName" value=""/>
  <setting name="RdxEnvironmentId" value=""/>
  <!-- Active Directory -->
  <setting name="AadTenant" value="" />
  <setting name="AadInstance" value="" />
  <setting name="AadClientId" value="" />
  <!-- Solution Attributes -->
  <setting name="SolutionName" value="Connected factory" />
  <!-- Map Api -->
  <setting name="MapApiQueryKey" value="" />
</Environment>